$FontMontBold: 'Montserrat Bold', sans-serif;
$FontMontLight: 'Montserrat Light', sans-serif;
$FontMontReg: 'Montserrat Regular', sans-serif;
$FontColorMain: #b8b8b8;
$FontColorLight: #ffffff;
$ColorYellowMain: #18cfab;
$ColorBrown: #4e4e4e;